In [2]:
import pandas as pd
import numpy as np
import surprise

ratings = pd.read_csv('user.csv')
ratings.head(5)

     user_id                       game   play_time
0  151603712  The Elder Scrolls V Skyrim      273.0
1  151603712                   Fallout 4       87.0
2  151603712                       Spore       14.9
3  151603712           Fallout New Vegas       12.1
4  151603712               Left 4 Dead 2        8.9

In [3]:
from surprise import Reader, Dataset

reader = Reader()
data = Dataset.load_from_df(ratings[['user_id', 'game ', 'play_time']], reader)

from surprise.model_selection import KFold

bsl_options = {
    'method': 'als',
    'n_epochs': 5,
    'reg_u': 12,
    'reg_i': 5
}
algo = surprise.BaselineOnly(bsl_options)

from surprise.model_selection import cross_validate

cross_validate(algo, data)

Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...

{'test_rmse': array([230.77764998, 272.12410664, 215.64654048, 230.50349641,
        213.70897316]),
 'test_mae': array([47.50263003, 50.47054993, 47.48740509, 45.86907381, 45.43511616]),
 'fit_time': (0.05984354019165039,
  0.07618165016174316,
  0.07780790328979492,
  0.08374333381652832,
  0.07381534576416016),
 'test_time': (0.045874595642089844,
  0.04488086700439453,
  0.04488086700439453,
  0.04491281509399414,
  0.07380867004394531)}

In [4]:
sim_options = {'name': 'pearson_baseline'}
algo = surprise.KNNBasic(sim_options=sim_options)
cross_validate(algo, data)["test_mae"].mean()

Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.

47.23864961008633